# Environment
.env

# Composer
/vendor/

# Logs & runtime files
/storage/logs/*
/storage/exports/*

# Cache / temp
*.log
*.cache

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# PHPUnit
.phpunit.result.cache